@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); /* 'Pacifico' font, used for .main_title */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"); /* 'Comfortaa' font, used for .page_title */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,900;1,900&display=swap");

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* typical container used through the webpage */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/************ (CODE FOR SPRINT 2) Footer *************/

.mediaFooter {
  position: absolute;
  bottom: 80px;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  left: 38.5%;
  opacity: 50%;
  filter: brightness(0) invert(1);
}

.ul_horizontal li {
  display: inline;
}

.footer ul li {
  margin-left: 50px;
}

.footer .footer-elements {
  background: rgba(24, 23, 23, 0.575);
  height: 200px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer {
  color: #fff;
  height: 300px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.footer .footer-copyright {
  background: rgba(24, 23, 23, 0.975);
  color: rgba(255, 255, 255, 0.151);
  height: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.about {
  width: 25%;
  position: relative;
  top: 10px;
  font-size: 11px;
  margin: 0;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h5-type {
  font-family: "Permanent Marker", sans-serif;
}

.followUs {
  font-family: "Permanent Marker", sans-serif;
  width: 100%;
  position: absolute;
  top: 10px;
  margin: 0;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.support {
  width: 175%;
  position: absolute;
  top: 10px;
  font-size: 11px;
  margin: 0;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  margin-left: 0;
}

/******************** (CODE FOR SPRINT 2) Make Appointment Button *********************/
.sbButton {
  background-color: goldenrod !important;
  color: white !important;
  font-weight: 500 !important;
  border-color: transparent !important;
}

.sbButton:hover,
.sbButton:focus {
  background-color: rgb(143, 109, 24) !important;
}

.mAButton {
  outline: none;
  position: absolute;
  top: 60%;
  left: 42.5%;
  display: block;
  border: 0;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.vIButton {
  outline: none;
  position: absolute;
  top: 60%;
  left: 20.5%;
  display: block;
  border: 0;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.vRButton {
  outline: none;
  position: absolute;
  top: 60%;
  left: 64%;
  display: block;
  border: 0;
  font-size: 20px;
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.3s linear;
}
/*<<<<<<<<<(CODE FOR SPRINT 2)>>>>>>>>>>*/
.mAButton:hover,
.mAButton:focus {
  background-color: rgb(143, 109, 24);
}

.vIButton:hover,
.vIButton:focus {
  background-color: rgb(143, 109, 24);
}

.vRButton:hover,
.vRButton:focus {
  background-color: rgb(143, 109, 24);
}

/**************************** (CODE FOR SPRINT 2) images *****************************/
.background {
  background-color: rgba(78, 73, 73, 0.575);
  background-blend-mode: multiply;
  background-size: cover;
  padding: 21.5em;
  background-position: center;
  background-repeat: no-repeat;
}
/*<<<<<<<<<(CODE FOR SPRINT 2)>>>>>>>>>>*/
.footer-img {
  width: 40px;
  border-radius: 0px;
}

/**************************** Navbar ****************************/
.inner_navcontainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  border-radius: 500px;
  align-items: center;
}

/* Syles the 'Map-Pin' text within the navbar */
p.main_title {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  color: goldenrod;
  float: none;
  display: inline-block;
  text-decoration: none;
  padding: 0px;
  margin: 5px 0px 0px 2em;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.navSearch {
  background-color: #343a40 !important;
  color: white !important;
  border-radius: 20px !important;
}

#nav-dropdow {
  color: white;
}

/**************************** Titles ****************************/
div.title {
  text-align: center;
  padding-top: 20px;
  min-height: 100%;
}

/* 'Map-Pin' specific */
.main_title {
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-weight: 800;
  font-size: 21px !important;
  color: goldenrod !important;
  display: inline-block;
}

/* Font style for remaining text */
h1.page_title {
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  color: goldenrod;
  display: inline-block;
}

p.page_title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 28px;
  color: rgb(231, 231, 231);
  position: absolute;
  top: 41%;
  left: 15%;
  opacity: 100%;
  transform: rotate(-5deg);
}

.big_text {
  font-family: "Roboto", sans-serif;
  font-size: 140px;
  color: goldenrod;
}

.centering {
  position: absolute;
  left: 20%;
  top: 40%;
}

.navbar-item:hover {
  background-color: goldenrod;
  border-color: goldenrod;
}

.navbar-nav > .active > a {
  color: aqua;
  background-color: chartreuse;
}
.nav-item > a:hover {
  color: aqua;
}

/**************************** Contact ****************************/
textarea {
  height: 200px;
  width: 400px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"],
button {
  background-color: goldenrod;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px !important;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.inner_contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
